{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 style="color:white" class="text-center">MESSAGE</h4>
    <p style="color: white; background-color: black; "class="text-center"><i>{{query}}</i></p>
    <br>
    <br>
    <p style="color: white; background-color: black; "class="text-center"><i>Please scroll down to see categories</i></p>
{% endblock %}

{% block content %}

    <h1 class="text-center">Result</h1>
        <div class="btn-group" role="group" aria-label="Basic example">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <button type="button" class="btn btn-success">{{category.replace('_', ' ').title()}}</button>
                {% else %}
                    <button type="button" class="btn btn-secondary">{{category.replace('_', ' ').title()}}</button>
                {% endif %}
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        


{% endblock %}
